/* Header Styles */
.header {
    text-align: center;
    text-decoration: overline underline;
    font-family: 'Russo One', sans-serif;
    color: crimson;
    background-color: black;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 32px;    
}

.menu {
    background-color: black;
    padding: 12px;
    letter-spacing: 3px;
    font-family: fantasy;
}

.menuLink:link {
    color: silver;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
}

.menuLink:visited {
    color: crimson;
}

.menuLink:hover {
    color: crimson;
    text-decoration: underline;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    background-color: black;
    color: crimson;
}

/* Menu Page Styles */
.menuItem {
    font-size: 24px
}

/* Front Page Greeting Styles */

#homePageContent {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


#greeting {
    width: 400px;
    text-indent: 5%;
    background-color: lightgrey;
    padding: 5px
}
