/* Header Styles */
.header {
    text-align: center;
    text-decoration: overline underline;
    font-family: fantasy;
    color: crimson;
    background-color: black;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 32px;    
}

.menu {
    background-color: black;
    padding: 12px;
    letter-spacing: 3px;
    font-family: fantasy;
}

.menuLink:link {
    color: silver;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
}

.menuLink:visited {
    color: crimson;
}

.menuLink:hover {
    color: crimson;
    text-decoration: underline;
}

/* Footer Styles */

.footer {
    text-align: center;
    padding: 10px;
    font-family: fantasy;
    background-color: black;
    color: crimson;
}