/*Fonts*/
@font-face {
    font-family: terminator;
    src: url(Fonts/terminator_real_nfi.ttf);
}

/*site-wide*/

a:link {
    color:crimson
}

a:visited {
    color:silver;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
    color:crimson
}

body {
    background-color: black;
}

/*header*/
.page-header {
    text-align: center;
    background-color: black;
    color: crimson;
    text-decoration: underline;
    font-family: terminator, fantasy;
    margin: 0px;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 32px;
    border-style: none;
}

/*header nav menu*/
.navbar {
    padding: 10px;
    background-color: black;
    border-radius: 0%;
    border-style: none;
    margin: 0px;
 }

.nav-pills a {
    font-family: terminator, fantasy;
    font-size: 12px;
    color: crimson;
    background-color: black;
}

.nav-pills a:visited {
    color:silver;
}

.nav-pills li a:hover {
    background-color: #494F50;
    color: crimson;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    font-family: terminator, fantasy;
    font-size: 12px;
    color: white;
    background-color: #494F50;
 }

 .nav-pills > li.active > a:visited {
    color: silver;
}


.nav-pills > li.active > a:hover {
        background-color: black;
        color: crimson;
}

/*carousel*/

.carousel-caption {
    font-family: terminator, fantasy;
    color: crimson;
 }

 .carousel-inner > .item > .subImg {
    width: 500px;
    height: 250px;
}
 
 .carousel-inner > .item > .terminatorImg {
    width: 350px;
    height: 250px;
}
 
 .carousel-inner > .item > .brewImg {
    width: 350px;
    height: 250px;
}

.noScript {
    color: crimson;
    font-family: terminator, fantasy;
    font-size: large;
}

/* home page body*/

#body {
    font-size: 16px;
    width:660px;
    text-indent: 5%;
    background-color: black;
    color: white;
    padding: 5px
}
 
.col-md-12 {
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 100%;
    background-size: 300px 225px;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-image:url("http://blogs-images.forbes.com/markhughes/files/2016/01/Terminator-2-1200x873.png");
}

#sub-image{
    text-align: center;
}

/*menu page*/
.col-md-4 {
    text-align: center;
    border-style: ridge;
    border-width: 5px;
    border-color: silver;
}

.menu-item {
    font-family: terminator, fantasy;
    color: silver;
    margin: 4px 1px 0px 1px;
}

.desc-header {
    margin: 0px 1px 4px 1px;
    font-family:  fantasy;
    color: crimson;
    text-decoration-line: underline;
}

.price {
    font-family: terminator, fantasy;
    color: crimson;
}

.list-group {
    margin: 0px 0px 4px 0px;
    padding-bottom: 6px;
}

.list-group-item {
    font-size: 16px;
    font-family: fantasy;
    border-style: none;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

.red {
    color: crimson;
}

/*beverage table*/

.table {
    color: white;
    font-size: 16px;
    font-family: fantasy;
    margin: 0px;
    padding: 0px;
 }

 .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

/*footer*/

.footer {
    text-align: center;
    font-family: terminator, fantasy;
    color: silver;
    padding: 30px;
    margin: 50px;
}

/*Contact Us*/

body { 
    text-align: center;
 }
      
form { 
    display: inline-block;
}
     
label {
    margin-left: 13px;
    font-family: terminator, fantasy;
    color: crimson;
}

input {
    text-align: center;
}

.form-group {
    width: 100%;
    height: 100%;
}

.btn-default {
    font-family: terminator, fantasty;
    background-color: black;
    border-color: crimson;
    color: crimson;
}

.btn-default:active:focus {
    outline: none;
    border-color: crimson;
    color: silver; 
    background-color: black; 
}

.btn-default:hover {
    background-color: black;
    color: silver;
} 

.weekDay {
    border-color: crimson;
    border-radius: 8px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.contactDay {
    border-style: none;
    margin-top: 15px;
    margin-bottom: 0px;
}

.checkboxDays {
    padding-bottom: 15px;
    margin-top: 0px;
}

.form-control {
   margin:auto;
   width: 400px;
}

.selectBox {
    margin-bottom: 10px;
}

.radioButton {
    margin-bottom: 10px;
}









 
 
 




